[submodule "cpp/submodules/cJSON"]
	path = cpp/submodules/cJSON
	url = git@github.com:DaveGamble/cJSON.git
	branch = master
[submodule "cpp/submodules/rbuflogd"]
	path = cpp/submodules/rbuflogd
	url = git@github.com:danielpapa1166/rbuflogd.git
	branch = main
[submodule "submodules/rbuflogd"]
	path = submodules/rbuflogd
	url = git@github.com:danielpapa1166/rbuflogd.git
	branch = main
[submodule "submodules/cJSON"]
	path = submodules/cJSON
	url = git@github.com:DaveGamble/cJSON.git
	branch = master
